extends layout

block content
	h1 Quiz

	p Choose quiz language:
	form#chooseLanguage
		input(type="text" name="language" placeholder="Language")
		input(type="submit")

	.quiz-question

	script(src="quiz.js")
		